<%= form_for @discipline, html: {class: "form"} do |f| %>
    <div class="form-group">
        <%= f.label "Título" %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Descrição" %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Horas" %>
        <%= f.number_field :hours, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Curso" %>
        <%= f.select :course_id, options_for_select(Course.all.map{|c|[c.title, c.id]}) ,{}, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Professor" %>
        <%= f.select :professor_id, options_for_select(Professor.all.map{|p|[p.name, p.id]}),{},class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.submit "Salvar", class: "btn btn-primary" %>
        <%= link_to "Voltar", disciplines_path, class: "btn btn-primary" %>
    </div>
<% end %>
