<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email, "Login" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Senha" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Login", class: "btn btn-primary" %>
      </div>
      <p>
        Novo? <%= link_to "Cadastro", signup_path %>
      </p>
    <% end %>
  </div>
</div>
