<%= form_for @professor, html: {class: "form"} do |f| %>
    <div class="form-group">
        <%= f.label "Nome" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Data Nascimento" %>
        <%= f.date_field :birth, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Sexo" %>
        <%= f.select :sex,[['Escolha', nil],['Masculino', 'M'], ['Feminino', 'F']],{}, 
        {class: "form-control"} %>
    </div>
    <div class="form-group">
        <%= f.submit "Salvar", class: "btn btn-primary" %>
        <%= link_to "Voltar", professors_path, class: "btn btn-primary" %>
    </div>
<% end %>